.event {
    padding: 80px 0;
    background-color: red;

    .container {
        display: flex;
    }

    &__image {
        max-width: 360px;
    }

    &__detail {
        &__title {
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 16px;
        }

        &__description {
            line-height: 22px;
        }
    }
}